.main-form-builder {
    background-color: #F8F8FF !important;
}

.stage-wrap {
    padding: 55px !important;
    background-color: #F8F8FF !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 10px;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.cb-wrap {
    max-height: 100vh; // Ensure the container does not exceed the viewport height
    overflow-y: auto !important;
  
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
     
  
      li {
        background-color: #fff !important;
        border: 1px solid #dcdcdc;
        border-radius: 20px;
        text-align: -webkit-center !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // transition: box-shadow 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        width: 55% !important; // Set the width to 66%
        margin: auto !important; // Center the items horizontally
        height: 90% !important; // Set the height to 95% of the parent container
        padding: 50px !important;
        span {
            justify-content: center !important;
        } 
          
        font-size: 0.5rem !important;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: translateY(-2px);
        }
  
        .drag-handle {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
        }
  
        .control-icon {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        .control-text {
          font-size: 14px;
          word-wrap: break-word;
          width: 100%;
          flex-grow: 1; // Ensure the text takes up available space
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .input-set-control {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important; /* Ensures the text is centered */
  }
  
  .control-icon {
    display: block !important;
    margin-bottom: 0.5em !important; /* Space between icon and text */
  }
  
  /* Adjustments to ensure the icon and text are treated as separate lines */
//   .input-set-control .control-icon::before {
//     content: "\270F"; /* Unicode for the pencil icon */
//     font-size: 0.5em !important; /* Adjust the icon size as needed */
//     display: block !important; /* Ensure it appears on its own line */
//   }
  
  
  
  
